* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.container  {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    width: 200px;
    height: 200px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: anime3 10s 0s linear infinite;
    transform-style: preserve-3d;
}
.blue-box {
    width: 100%;
    height: 100%;
    background: blue;
    animation: anime 10s 0s linear infinite;
    position: absolute;
    color:white;
    text-align: center;
}
.red-box {
    width: 100%;
    height: 100%;
    background: red;
    animation: anime2 10s 0s linear infinite;
    position: absolute;
    color:white;
    text-align: center;
}
@keyframes anime {
    0%  {
        transform: perspective(400px)
        rotate(0deg)
        translateZ(15px)
    }
    100% {
        transform: perspective(400px)
        rotate(360deg)
        translateZ(15px)
    }
}
@keyframes anime2 {
    0%  {
        transform: perspective(400px)
        rotate(0deg)
        translateZ(-15px)
    }
    100% {
        transform: perspective(400px)
        rotate(-360deg)
        translateZ(-15px)
    }
}

@keyframes anime3 {
    0%  {
        transform: rotateY(0);
    }
    100% {
        transform: rotateY(360deg);
    }
}